<%- include("partials/header.ejs") %>

<main class="ctn-main bg-black py-5 d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex justify-content-center ">
        <img src="images/about.jpeg" class="w-100  border border-secondary rounded" style="max-width: 500px;">
    </div>
    <div class="w-100" style="max-width: 500px;">
        <h1 class="display-2 text-white">Hello There!</h1>
        <h2 class="display-6 text-white">I'm Carolina Gonzalez</h2>
        <p class="text-white mt-3">The creative mind behind this site. Feel free to share with me the stories of your best trips... or even the not-so-great ones — everything is welcome here!</p>
       
    </div>

</main>

<%- include("partials/footer.ejs") %>